@charset "UTF-8";
/* CSS Document */
/* apply font to all text */
* {
	font-family: "Roboto", sans-serif;
}

nav {
	background-color: skyblue;
	width: 100%;
	height: 50px;
}
ul {
	list-style-type: none;
	
}

li{
	float:left;
	display:block;
	padding: 0px 30px;
	background-color: skyblue;
	line-height: 50px;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	color: dodgerblue;
}

a:hover {
	color: gray;
}

h1{
	clear: both;
}

h2{
	
	font-weight: 200;
	margin-top: -20px;
}
/* apply color to every other row in table */
tr:nth-child(even) {
	background-color: #EBEBD0;
}

th{
	text-align:left;
	border-left: 1px solid #ACA9A9;
	padding: 0px 20px;
}

td{
	padding: 3px 30px;
	border-left: 1px solid #ACA9A9;
	border-right: 1px solid #ACA9A9;
}

table{
	border-collapse:collapse;
	border-bottom: 1px solid #ACA9A9;
}
/* apply border to top of table */
tr:nth-child(2){
	border-top: 1px solid #ACA9A9;
}
/* remove border from images */
.image {
	border: 0px solid #ACA9A9;
	vertical-align: bottom;
}
/* make part of the th not bold */
span{
	font-weight: 200;
	font-style: italic;
}
/*fieldset begin*/
legend {
	font-size: 1.25em;
	background-color:#D2EDFD;
	border: 1px solid black;
}

form{
	clear: both;
}

fieldset {
	background-color: #EBEBD0;
	margin: 40px 10px 20px 0px;
}
/*fieldset end*/ 
